@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f5f6f8;
}

@keyframes grow-x {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

@keyframes shrink-x {
    from {
        transform: scaleX(1);
    }
    to {
        transform: scaleX(0);
    }
}

::view-transition-group(dialog) {
    height: auto;
    right: 0;
    left: auto;
    transform-origin: right center;
}

::view-transition-old(dialog) {
    animation: 0.25s linear both shrink-x;
}

::view-transition-new(dialog) {
    animation: 0.25s 0.25s linear both grow-x;
}